.App {
  text-align: center;
}

.sideCard {
  position: fixed;
}

.card {
  margin-top: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
  display: inline;
  align-self: center;
  padding-top: 10px;
  max-width: 85%;
  height: auto;
}

.card-body {
  text-align: center;
}

.card-text {
  font-size: smaller;
}

.bottomCard {
  padding-bottom: 10px;
}

.yearCard {
  padding-top: 12px;
}

.cardText {
  font-weight: bold;
}
